# Name;DownloadURL;AdditionalInstallerParameters
# SourceforgeExample;http://sourceforge.net/projects/sevenzip/files/latest/download;
# GithubRepoExample;https://api.github.com/repos/clsid2/mpc-hc/releases/latest
# ChocolateyExample;$choco:examplepackage;--params='/NoDesktopIcon'"
# ManualExample;$manual:https://manualdownloadsite.example;

# Treiber
MSI Live Update;http://download.msi.com/uti_exe/mb/LiveUpdate.zip;
Intel Chipset INF;https://downloadmirror.intel.com/30553/eng/setupchipset.exe;
Nvidia Treiber;$choco:geforce-game-ready-driver;--package-parameters="'/dch'"
Nvidia Geforce Experience;$choco:geforce-experience;
Nvidia Profile Inspector;$choco:nvidia-profile-inspector;
Nvidia Telemetry deaktivieren;$choco:disable-nvidia-telemetry;
SoundBlaster X G5;https://files.creative.com/manualdn/Drivers/100212/0x51856A70/BAEP_PCDRV_L7_1_02_09.exe;
ASIO4ALL Audio Treiber;$choco:asio4all;
Roccat Swarm;$choco:roccatswarm;
Ryos MK Pro;https://api.roccat-neon.com/device/Support/Driver/Download/363/Ryos-MK-Pro.zip;

# Core Packages
Java Runtime 8;$choco:jre8;
K-Lite Codec Pack Mega;$choco:k-litecodecpackmega;
FFMPEG;$choco:ffmpeg;
WinSCP;$choco:winscp;--params "'/LANG=de /CURRENTUSER /NORESTART'"
Filezilla;$choco:filezilla;
mRemoteNG;$choco:mremoteng;
Wireshark;$choco:wireshark;
HWInfo64;$choco:hwinfo;
CrystalDiskInfo;$choco:crystaldiskinfo;
MSIAfterburner;$choco:msiafterburner;
GIT;$choco:git;

# Packages
7zip;$choco:7zip;
Firefox;$choco:firefox;--params "'/S /TaskbarShortcut=true /DesktopShortcut=false /MaintenanceService=false /RegisterDefaultAgent=false'"
AutoIt3;$choco:autoit;
VSCode;$choco:vscode;
CCleaner;$choco:ccleaner;
Rufus;$choco:rufus;
Win32 Disk Imager;$choco:win32diskimager;
Raspberry Pi Imager;$choco:rpi-imager;
Notepad++;$choco:notepadplusplus;
Total Commander;$choco:totalcommander;--params '/LocalUser'
Teamviewer;$choco:teamviewer;
Handbrake;$choco:handbrake;
Audacity;$choco:audacity;--params '/VERYSILENT /SUPPRESSMSGBOXES /NORESTART /SP- /MERGETASKS="!desktopicon"'
OBS Studio;$choco:obs-studio;
OBS NDI Plugin;$choco:obs-ndi;
MPC-HC;$choco:mpc-hc-clsid2;
VLC;$choco:vlc;--params "/NoDesktopIcon"
Tasmotizer;$choco:tasmotizer;

# Extra Packages
Rainmeter;https://api.github.com/repos/rainmeter/rainmeter/releases/latest
Discord;$choco:discord;
Webex Meetings;$choco:webex-meetings;
Citrix Workspace App;$choco:citrix-workspace;
Battle.net;http://dist.blizzard.com/downloads/bna-installers/322d5bb9ae0318de3d4cde7641c96425/retail.1/Battle.net-Setup-deDE.exe;
Bandicam;https://dl.bandicam.com/bdcamsetup.exe;
Origin;$choco:origin;
Rockstar Games Launcher;https://gamedownloads.rockstargames.com/public/installer/Rockstar-Games-Launcher.exe;
Spotify;$choco:spotify;
Steam;$choco:steam-client;
Teamspeak;$choco:teamspeak;
TSNotifier;https://tsnotifier.eu/SetupTSNotifierV$version.msi;
Uplay;$choco:ubisoft-connect;
MSTeams;$choco:microsoft-teams;
Megasync;$choco:megasync;
Steelseries Engine;$choco:steelseries-Engine;
Skype4Business Basic;https://download.microsoft.com/download/4/0/F/40FF3C3B-B703-4D65-809E-E983E2AEA874/LyncEntry_bypass_ship_x64_de-de_exe/lyncentry.exe;
PS Remote Play;$choco:ps-remote-play;
Cura Ultimaker;$choco:cura-new;
ShareX;$choco:sharex;
Planoplan;https://files.planoplan.com/upload/standalone_build/de/PlanoplanEditorSetup.exe;
Blender;$choco:blender;
Irfanview;$choco:irfanview;
GOG Galaxy;$choco:goggalaxy;
Flux;$choco:f.lux;
Lively;$choco:lively;